[submodule "output"]
	path = output
	url = git@github.com:rok-povsic/rok-povsic.github.io.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
